

<div *ngIf="toDisplay">
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Enter the product's name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Price</mat-label>
    <input matInput placeholder="Enter the product's price">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Brand</mat-label>
    <input matInput placeholder="Enter the product's brand">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Description</mat-label>
    <input matInput placeholder="Enter a description of the product">
  </mat-form-field>
</div>

<button mat-raised-button color="warn" (click)="show()">List Item for Sale</button>


<div class="card-container">
  <a *ngFor="let product of products">
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        {{product.name}}
      </mat-card-title>

      <mat-card-subtitle>
        ${{product.price}}
        <a class="button-container">
          <p>{{product.brand}}</p>
          <mat-card-actions>
            <button mat-raised-button color="accent">Add to Cart</button>
          </mat-card-actions>
        </a>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="description-container">
      <mat-card-content>
        <p>{{product.description}}</p>
      </mat-card-content>
    </div>

  </mat-card>
  </a>
</div>
