

<div *ngIf="toDisplay" class="forms-container">
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Enter the product's name" [(ngModel)]="product.name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Price</mat-label>
    <input matInput placeholder="Enter the product's price" [(ngModel)]="product.price">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Brand</mat-label>
    <input matInput placeholder="Enter the product's brand" [(ngModel)]="product.brand">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Description</mat-label>
    <input matInput placeholder="Enter a description of the product" [(ngModel)]="product.description">
  </mat-form-field>
</div>

<div *ngIf="!toDisplay">
  <p>{{this.errorMessage}}</p>
  <button mat-raised-button color="warn" (click)="show()">List Item for Sale</button>
</div>

<div *ngIf="toDisplay">
  <button mat-raised-button color="warn" (click)="addProduct();show()">Submit</button>
  <button mat-raised-button color="warn" (click)="show()">Close</button>
</div>


<!--    <div class="grid-container">-->
<!--    <div class="grid-title">{{product.name}}</div>-->
<!--    <div class="grid-price">{{product.price}}</div>-->
<!--    <div class="grid-brand">{{product.brand}}</div>-->
<!--    <div class="grid-description">This is product {{product.id}}, described as {{product.description}}</div>-->
<!--    <div class="grid-button">-->
<!--      <button mat-raised-button color="accent" (click)="moveToCart(this.product)">Add to Cart</button>-->
<!--    </div>-->

<div class="card-container">
  <a *ngFor="let product of products">
  <mat-card class="product-card" (click)="updateProduct(product)">
    <mat-card-header>
      <mat-card-title>
        {{product.name}}
      </mat-card-title>
      <mat-card-subtitle>
        ${{product.price}}
        <div class="button-container">
          <p>{{product.brand}}</p>
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="moveToCart(this.product)">Add to Cart</button>
          </mat-card-actions>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="description-container">
      <mat-card-content>
        <p>This is item id {{product.id}}, {{product.description}}</p>
      </mat-card-content>
    </div>

  </mat-card>
  </a>
</div>
