.card-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 flex-shrink: inherit;
}

.description-container{
  display: flex;
  word-break: break-word;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  width: 250px;
}

.forms-container{
  display: flex;
}

.mat-form-field{
  min-width: 25%;
  background-color: darkblue;
  color: white;
  /*padding: 15px*/
}
/*.button-container{*/
/*  position: absolute;*/
/*  bottom: 0px;*/
/*  left: 115px;*/
/*}*/
